<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<appSettings>
		<add key="EnableLog" value="true"/>
	    <add key="FileFormat" value="txt"/>
			<add key="LogFilePath" value="C:\Users\ponra\source\repos\PokerGame\PokerGame\SampleFile\log.txt"/>
		<add key="DeckFilePath" value="C:\Users\ponra\source\repos\PokerGame\PokerGame\SampleFile\poker-hands.txt"/>
	</appSettings>
</configuration>